.App {
  font-family: sans-serif;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
}

.container {
  margin-top: 100px;
  border-top: 30px solid lightgreen;
  border-bottom: 30px solid grey;
  border-left: 30px solid orange;
  border-right: 30px solid lightblue;
  transform: rotate(-45deg);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Roboto";
}

.title {
  transform: rotate(45deg);
  color: white;
  margin-left: 70px;
}

.and {
  color: orange;
}

.description {
  color: white;
  transform: rotate(45deg);
  margin-right: 40px;
}
